<h3><%= @employee.full_name %></h3>
<h3><%= @employee.email %></h3>
<h3><%= @employee.job_title %></h3>
<h3><%= @employee.salary %></h3>
<h3><%= @employee.japan_prefix %></h3>
<h3><%= @employee.gender %></h3>
<h3><%= @employee.updated_at %></h3>

<div>
<%= link_to "Edit", "/employees/#{@employee.id}/edit" %>
<%= link_to "Home", "/" %>
<%= link_to "Delete", "/employees/#{@employee.id}", method: :delete %>
</div>