#show attributes for each employee, link to home, edit, and delete options


<h3><a href="/employee/:id"><%= worker.full_name %></a></h3>
<h3><%= worker.email %></h3>
<h3><%= worker.job_title %></h3>
<h3><%= worker.salary %></h3>
<h3><%= worker.japan_prefix %></h3>
<h3><%= worker.gender %></h3>
<h3><%= worker.updated_at %></h3>
<% end %>