<h1>Employee Information</h1>

<h3><%= @worker.first_name %></h3>
<h3><%= @worker.last_name %></h3>
<h3><%= @worker.email %></h3>
<h3><%= @worker.job_title %></h3>
<h3><%= @worker.salary %></h3>
<h3><%= @worker.phone_number %></h3>
<h3><%= @worker.gender %></h3>
